<!DOCTYPE HTML>
<html>

<head>
    <!-- coding : utf-8 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- cache : off -->
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="0">

    <!-- Lastest IE version -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Page title -->
    <title>Linggle Knows</title>

    <meta name=“description” content="Sa-Niau-Niou-Wan">
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css" />

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>

    <link rel="shortcut icon" href="static/img/favicon.png" />


</head>
<body>
  <div class="ui container  ">
    <!-- <input type="text" value="" id="input"> -->
    <!-- <button id="send_btn">send</button> -->
    <h2 class="ui center aligned icon header">
      <i class="circular book icon"></i>
      Linggle Knows
      <div class="sub header center aligned">A Linguistic Search Engine Tells How People Write</div>
    </h2>
    <div class="ui centered stackable grid">
      <div class="ten wide column item">
        <div class="ui fluid right icon input" id="search_bar">
            <i class="search icon"></i>
            <input id="input" class="prompt" type="text" placeholder="Type something here...">
            <!-- <button id="send_btn" class="ui blue icon button">
                <i class="search icon"></i>
                <span>&nbsp;Search</span>
            </button> -->
            <!-- <button class="ui red icon button" id="delete-btn">
                <i class="delete icon"></i>
            </button> -->
        </div>
      </div>
      <div class="column">
          <button class="ui labeled icon green button" id="help-btn">
              <i class="help circle icon"></i> HELP
          </button>
      </div>
    </div>
    <div id="result_area" class="ui active fade reveal">
      <div id="wr_results" class="content ui padded grid">
        <div id="wirteahead_area" class="eight wide column centered">
          <i class="icon"></i>
          <h5 class="ui red segment">Grammar Patterns</h5>
          <div id="wirteahead_results"></div>
        </div>
        <div id="rephraser_area" class="eight wide column centered">
          <i class="icon"></i>
          <table id="rephraser_area" cellspacing="0" cellpadding="0" class="ui very compact large blue selectable unstackable table">
            <thead>
                <tr>
                    <th class="ten wide">rephrase</th>
                    <th class="two wide">percent</th>
                    <th class="two wide">count</th>
                    <th class="one wide">example</th>
                </tr>
            </thead>
            <tbody id="rephraser_results" class="ui accordion"></tbody>
          </table>
        </div>
      </div>

      <div id="l_results" class="content ui grid">
        <div class="column">
          <table id="linggle_area" cellspacing="0" cellpadding="0" class="ui very compact large teal selectable unstackable table">
            <thead>
                <tr>
                    <th class="ten wide">N-gram</th>
                    <th class="one wide">percent</th>
                    <th class="one wide">count</th>
                    <th class="one wide">example</th>
                </tr>
            </thead>
            <tbody id="linggle_results"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% include 'helpmodal.html' %}
  <!-- js  -->
  <script src="/static/js/common.js"></script>
  <script src="/static/js/index.js"></script>
</body>
</html>
